# Git ignore file for OmniSync project

# Build artifacts
[Bb]in/
[Oo]bj/
publish/

# Visual Studio files
.vs/
*.suo
*.user
*.log
*.pdb
*.opendata
*.sqlite
*.bak
*.dll
*.exe

# Rider files
.idea/

# Miscellaneous
*.tmp
*.user
*.cache
*.exp
*.lib
*.so
*.dylib
*.a
*.pyc
*.pyo
*.ncb
*.sdf
*.vshost.*
*.fsx.fsi
*.fsproj.user
*.dbmdl

# Logs
*.log
*.bin
*.lock
cli_output.log
hub_output.log
temp_speech.wav

# Dependency directories
packages/
node_modules/
OmniSync.Android/app/build
OmniSync.Android/.gradle
OmniSync.Android/.kotlin

# Zip files
*.zip

/gradle-8.8/
.gradle/
/OmniSync.Android/Instructions.txt
/OmniSync.Android/all_source_code.txt
/OmniSync.Android/crash.txt
/OmniSync.Android/create_source_list.py
/OmniSync.Android/get_logcat_window.py
/OmniSync.Android/logcat_output.txt
/OmniSync.Hub/all_source_code.txt
/OmniSync.Hub/create_source_list.py
/OmniSync.Hub/instructions.txt
/crash.txt
